@import url('https://fonts.googleapis.com/css?family=Staatliches:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700|Playfair Display:400,700,900');
/*------------------------------------------------------------------ Tex Style */

.main-text {
  line-height: 1.6;
}

.red {
  color: #c10000;
}

.paragraph {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  margin-top: 25px;
  text-align: justify;
  margin-bottom: 25px;
  margin-right: 150px;
  margin-left: 150px;
  line-height: 1.8;
}

.paragraph::first-letter {
  color: #c10000;
  font-size: 8em;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 900;
  float: left;
  position: relative;
  margin-bottom: -45px;
  margin-left: 13px;
  margin-right: 24px;
  margin-top: -54px;
}

.map-info-paragraph {
  text-align: center;
}

.map-info-paragraph p {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  margin: auto;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 5px;
}

.map-info-paragraph i{
  font-size: xx-large;
  color: #ea4335;
  margin-left: 5px;
  margin-right: 5px;
}

/*------------------------------------------------------------------ Navbar */

.logo {
  font-size: 200%;
  font-weight: 200;
  margin-right: 3rem;
}

nav,
#black-bg {
  font-family: 'Staatliches', sans-serif;
  background-color: #222;
  letter-spacing: 5px;
  text-decoration: none;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fafafa;
  text-decoration: none;
  background-color: #222222;
}

/*------------------------------------------------------------------ Main */

/*---------------------------------- Charts */

.charts {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.aircrafts-charts,
.land-forces-charts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#vehicle-graph {
  font-size: 500%;
  margin-bottom: 15px;
}

.aircrafts-charts>div>h3 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Staatliches', sans-serif;
}

.head-aircrafts-charts,
.head-land-forces-charts {
  flex-direction: column;
  text-align: center;
  font-family: 'Staatliches', sans-serif;
}

.head-aircrafts-charts>h2 {
  font-size: 3em;
}

.aircrafts-production {
  margin-left: -53px;
  padding-bottom: 70px;
  padding-top: 20px;
}

#total-power-airforce {
  padding-bottom: 75px;
  margin-left: 3px;
}

.content-center {
  margin: auto;
}

.fas {
  font-size: 300%;
}

.fa-user-friends {
  color: #101F69;
}

.fa-skull-crossbones {
  color: #c10000;
}

.fa-user-injured {
  color: #006666;
}

#sum-deaths,
#sum-population,
#sum-wounded {
  font-family: 'Staatliches', sans-serif;
  font-size: 300%;
}

.charts>h2 {
  font-family: 'Staatliches', sans-serif;
  font-size: 3em;
}


/*---------------------------------- Google Map */

.google-map {
  height: 600px;
  margin: auto;
}

#map {
  width: 100%;
}


/*---------------------------------- Social Media */

.icon-bar {
  position: fixed;
  top: 50%;
  -o-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 100;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #c10000;
}

.facebook {
  background: #222;
  color: white;
}

.twitter {
  background: #222;
  color: white;
}

.google {
  background: #222;
  color: white;
}

.linkedin {
  background: #222;
  color: white;
}

.youtube {
  background: #222;
  color: white;
}


/*------------------------------ Social Media End */

#main-text {
  margin: auto;
}

.soldier {
  background: url(../img/soldier.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
  width: 100vw;
  height: 600px;
}

/*------------------------------------------------------------------ Footer */

.footer-bar {
  height: 100%;
  width: 100%;
  padding: 0px;
  background-color: #222;
}

.footer-bar>div {}

.social-media {
  display: flex;
  margin-left: 18%;
  margin-right: 18%;
  justify-content: space-between;
  text-decoration: none;
  font-size: 1em;
  text-align: center;
}

.social-circle {
  margin-top: 2em;
  margin-bottom: 1.5em;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #fafafa;
  color: #222;
  padding: 7px;
  font-size: 25px;
  transition: all 0.3s ease;
}

.social-circle:hover {
  background-color: #c10000;
}

.site-map {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  
}

.site-map a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 120%;
  font-family: 'Staatliches', sans-serif;
  text-decoration: none;
  text-align: center;
  color: #fafafa;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}

.site-map a:hover {
  color: #828282;
}

.bottom-foot-bar {
  height: 100%;
  background-color: #fafafa;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.bottom-foot-bar p {
  font-family: 'Staatliches', sans-serif;
  font-weight: bold;
  color: #222222;
  letter-spacing: 3px;
}

.bottom-foot-bar span {
  color: #c10000;
}