@import url('https://fonts.googleapis.com/css?family=Staatliches:100,200,300,400,500,600,700');
/*------------------------------------------------------------------ Tex Style */

.main-text {
  line-height: 1.6;
}

.red {
  color: #c10000;
}

.red-uppercase {
  color: #c10000;
  font-size: 300%;
  font-weight: bold;
}

/*------------------------------------------------------------------ Navbar */

.logo {
  font-size: 200%;
  font-weight: 200;
  margin-right: 3rem;
}

nav,
#black-bg {
  font-family: 'Staatliches', sans-serif;
  background-color: #222;
  letter-spacing: 5px;
  text-decoration: none;
}

/*------------------------------------------------------------------ Main */

/*---------------------------------- Charts */

.charts {
  display: flex;
  flex-direction: column;
  text-align: -webkit-center;
}

.content-center {
  margin: auto;
}

.fas {
  font-size: 300%;
}

.fa-user-friends {
  color: #101F69;
}
.fa-skull-crossbones {
  color: #c10000;
}
.fa-user-injured {
  color: #006666;
}

#sum-deaths,
#sum-population,
#sum-wounded {
  font-family: 'Staatliches', sans-serif;
  font-size: 300%;
}

.charts>h2 {
  font-family: 'Staatliches', sans-serif;
  font-size: 3em;
}


/*---------------------------------- Google Map */

.google-map {
  height: 600px;
  margin: auto;
}

#map {
  width: 100%;
}

/*---------------------------------- Social Media */

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #c10000;
}

.facebook {
  background: #222;
  color: white;
}

.twitter {
  background: #222;
  color: white;
}

.google {
  background: #222;
  color: white;
}

.linkedin {
  background: #222;
  color: white;
}

.youtube {
  background: #222;
  color: white;
}


/*------------------------------ Social Media End */

#main-text {
  margin: auto;
}

.soldier {
  background: url(/assets/img/img5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
  width: 100vw;
  height: 600px;
}

/*------------------------------------------------------------------ Footer */

.footer-bar {
  height: 150px;
  width: 100%;
  padding: 0px;
  background-color: #222;
}
